/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #343148;
}

a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #F7CAC9;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #F7CAC9;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    background: #343148;
}

.back-to-top:hover i {
    color: #F7CAC9;
}

.back-to-top i {
    color: #343148;
    padding-top: 10px;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 35px;
    background: #343148;
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text i {
    font-size: 13px;
    color: #ffffff;
    margin-right: 5px;
}

.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 5px;
}

.top-bar .social {
    display: flex;
    height: 35px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #092a49;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #343148;
    text-transform: lowercase;
    transition: .5s;
}

.navbar.nav-sticky .navbar-brand span {
    color: #ffffff;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(90 70 70 / 26%);
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 35px;
        padding: 20px 60px;
        background: rgba(0, 0, 0, .1) !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #343148 !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #343148 !important;
    }
    
    .navbar .navbar-brand span {
        color: #ffffff;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    padding: 90px 0;
    background: #F7CAC9;
    overflow: hidden;
}

.hero .container-fluid {
    padding: 0;
}

.hero .hero-image {
    position: relative;
    text-align: right;
}

.hero .hero-image img {
    max-width: 80%;
    max-height: 80%;
}

.hero .hero-text {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text h1 {
    color: #343148;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero .hero-text p {
    color: #343148;
    font-size: 18px;
    margin-bottom: 25px;
}

.hero .hero-btn .btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.hero .hero-btn .btn:hover {
    color: #343148;
    background: #ffffff;
}

.hero .hero-btn .btn:first-child {
    margin-right: 10px;
}

@media (max-width: 991.98px) {
    .hero .hero-text {
        padding: 0 15px;
    }
    
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text p {
        font-size: 16px;
    }
    
    .hero .hero-text .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767.98px) {
    .hero .hero-text h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .hero .hero-text p {
        font-size: 14px;
    }
    
    .hero .hero-text .btn {
        padding: 10px 15px;
        font-weight: 400;
        letter-spacing: 1px;
    }
	
	.hero .hero-image {
		text-align: left;
		margin-top: 30px;
	}
	
	.hero .hero-image img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 575.98px) {
    .hero .hero-text h1 {
        font-size: 25px;
        font-weight: 600;
    }
    
    .hero .hero-text p {
        font-size: 14px;
    }
    
    .hero .hero-text .btn {
        padding: 8px 10px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 50px 0 90px 0;
    text-align: center;
    background: #F7CAC9;
}

.page-header h2 {
    position: relative;
    color: #343148;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #343148;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #343148;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
}

.section-header p::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 11px;
    right: -30px;
    left: -30px;
    background: #F7CAC9;
    z-index: -1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #343148;
    background: #F7CAC9;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .07);
    transition: .3s;
}

.service .service-item:hover,
.service .service-item.active {
    background: #343148;
    color: #ffffff;
}

.service .service-icon {
    position: relative;
    margin: 0 auto 25px auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service .service-icon i {
    position: relative;
    font-size: 50px;
    color: #343148;
    z-index: 3;
}

.service .service-icon:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7CAC9;
    border-radius: 50%;
    animation: pulse-border 2000ms ease-out infinite;
}

.service .service-icon:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7CAC9;
    border-radius: 50%;
    transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.service .service-item h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}

.service .service-item:hover h3,
.service .service-item.active h3 {
    color: #F7CAC9;
}

.service .service-item p {
    margin: 0;
    font-size: 16px;
}



/*******************************/
/********** Class CSS **********/
/*******************************/
.class {
    position: relative;
    padding: 45px 0 15px 0;
}

.class #class-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.class #class-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    color: #343148;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    background: none;
    border: 1px solid #343148;
    transition: .3s;
}

.class #class-filter li:hover,
.class #class-filter li.filter-active {
    background: #343148;
    color: #F7CAC9;
}

.class .class-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: .3s;
}

.class .class-wrap {
    position: relative;
    width: 100%;
}

.class .class-img {
    position: relative;
}

.class .class-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.class .class-text {
    position: relative;
    padding: 30px 30px 25px 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.class .class-text h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.class .class-teacher {
    position: relative;
    height: 40px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
}

.class .class-teacher img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #F7CAC9;
}

.class .class-teacher h3 {
    width: calc(100% - 95px);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.class .class-teacher a {
    width: 40px;
    height: 40px;
    padding: 0 0 3px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
    color: #343148;
    background: #F7CAC9;
    border-radius: 40px;
    transition: .3s;
}

.class .class-wrap:hover .class-teacher a {
    color: #F7CAC9;
    background: #343148;
}

.class .class-meta {
    position: relative;
    display: flex;
    align-items: center;
}

.class .class-meta p {
    margin: 0;
    font-size: 14px;
}

.class .class-meta p i {
    margin-right: 5px;
    color: #343148;
}

.class .class-meta p:first-child {
    margin-right: 10px;
}



/*******************************/
/********* Pricing CSS *********/
/*******************************/
.discount {
    position: relative;
    width: 100%;
    margin: 45px 0;
    padding: 90px 0;
    background: linear-gradient(rgba(247, 202, 201, .7), rgba(247, 202, 201, .7)), url(../img/discount-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.discount .container {
    max-width: 750px;
    text-align: center;
}

.discount .section-header {
    margin-bottom: 20px;
}

.discount .section-header p {
    color: #343148;
    background: transparent;
}

.discount .section-header p::after {
    display: none;
}

.discount .section-header h2 span {
    color: #F32B56;
    font-size: 50px;
}

.discount .discount-text p {
    color: #454545;
}

.discount .discount-text .btn {
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.discount .discount-text .btn:hover {
    color: #343148;
    background: #ffffff;
}


/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.price .price-item {
    position: relative;
    margin-bottom: 30px;
}

.price .price-header,
.price .price-body,
.price .price-footer {
    position: relative;
    width: 100%;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}

.price .price-header {
    padding: 30px;
    background: #F7CAC9;
    color: #343148;
}

.price .price-item.featured-item .price-header {
    background: #343148;
    color: #F7CAC9;
}

.price .price-status {
    margin-top: -30px;
    text-align: right;
}

.price .price-status span {
    position: relative;
    display: inline-block;
    height: 30px;
    right: -30px;
    padding: 7px 10px;
    text-align: center;
    color: #343148;
    font-size: 14px;
    line-height: 14px;
    background: #F7CAC9;
}

.price .price-title h2 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.price .price-prices h2 {
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}

.price .price-prices h2 small {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    margin-top: 9px;
    margin-left: -12px;
}

.price .price-prices h2 span {
    margin-left: 1px;
    font-size: 18px;
    font-weight: 400;
}

.price .price-item.featured-item h2 {
    color: #F7CAC9;
}

.price .price-body {
    padding: 25px 0 20px 0;
    border: 1px solid rgba(0, 0, 0, .07);
    border-bottom: none;
}

.price .price-description ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price .price-description ul li {
    padding: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.price .price-description ul li:last-child {
    border: none;
}

.price .price-action {
    border: 1px solid rgba(0, 0, 0, .07);
    border-top: none;
}

.price .price-action a.btn {
    margin-bottom: 30px;
    padding: 12px 20px;
    color: #343148;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0;
    background: #F7CAC9;
    transition: .3s;
}

.price .price-action a:hover,
.price .price-item.featured-item .price-action a {
    color: #F7CAC9;
    background: #343148;
}

.price .price-item.featured-item .price-action a:hover {
    color: #343148;
    background: #F7CAC9;
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    padding: 15px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, .07);
}

.team .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-img img {
    position: relative;
    width: 100%;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team .team-social a {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
    color: #F7CAC9;
    background: #343148;
    opacity: 0;
}

.team .team-social a:hover {
    color: #343148;
    background: #F7CAC9;
}


.team .team-item:hover .team-social {
    background: rgba(256, 256, 256, .5);
}

.team .team-item:hover .team-social a:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}

.team .team-text {
    position: relative;
    padding: 25px 15px 10px 15px;
    text-align: center;
    background: #ffffff;
}

.team .team-text h2 {
    font-size: 18px;
    font-weight: 600;
}

.team .team-text p {
    margin: 0;
}


/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

@media(max-width: 991.98px) {
    .sidebar {
        margin-top: 45px;
    }
}

.sidebar .sidebar-widget {
    position: relative;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget .widget-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar .sidebar-widget .widget-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #F7CAC9;
}

.sidebar .sidebar-widget .search-widget {
    position: relative;
}

.sidebar .search-widget input {
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 0;
}

.sidebar .search-widget input:focus {
    box-shadow: none;
}

.sidebar .search-widget .btn {
    position: absolute;
    top: 6px;
    right: 15px;
    height: 40px;
    padding: 0;
    font-size: 25px;
    color: #F7CAC9;
    background: none;
    border-radius: 0;
    border: none;
    transition: .3s;
}

.sidebar .search-widget .btn:hover {
    color: #343148;
}

.sidebar .sidebar-widget .recent-post {
    position: relative;
}

.sidebar .sidebar-widget .tab-post {
    position: relative;
}

.sidebar .tab-post .nav.nav-pills .nav-link {
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
}

.sidebar .tab-post .nav.nav-pills .nav-link:hover,
.sidebar .tab-post .nav.nav-pills .nav-link.active {
    color: #343148;
    background: #F7CAC9;
}

.sidebar .tab-post .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.sidebar .tab-post .tab-content .container {
    padding: 0;
}

.sidebar .sidebar-widget .category-widget {
    position: relative;
}

.sidebar .category-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .category-widget ul li {
    margin: 0 0 12px 22px; 
}

.sidebar .category-widget ul li:last-child {
    margin-bottom: 0; 
}

.sidebar .category-widget ul li a {
    display: inline-block;
    line-height: 23px;
}

.sidebar .category-widget ul li::before {
    position: absolute;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #F7CAC9;
    left: 1px;
}

.sidebar .category-widget ul li span {
    display: inline-block;
    float: right;
}

.sidebar .sidebar-widget .tag-widget {
    position: relative;
    margin: -5px -5px;
}

.single .tag-widget a {
    margin: 5px;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    border: 1px solid #dddddd;
}

.single .tag-widget a:hover {
    color: #F7CAC9;
    background: #343148;
}

.sidebar .image-widget {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .image-widget img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .image-widget img:hover {
    transform: scale(1.1);
}



/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    background: #000000;
}

.footer .container-fluid {
    padding: 90px 0 0 0;
    background: linear-gradient(rgba(52, 49, 72, .9), rgba(52, 49, 72, .9)), url(../img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info .footer-logo {
    display: inline-block;
    color: #F7CAC9;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.footer .footer-info .footer-logo span {
    color: #ffffff;
    text-transform: lowercase;
}

.footer .footer-info h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .footer-social {
    position: relative;
    margin-top: 5px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #F7CAC9;
}

.footer .copyright {
    margin-top: 60px;
    padding: 0 30px;
}

.footer .copyright .row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #F7CAC9;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}
/* form style*/
@import "compass/css3";
 *, *:before, *:after {
     box-sizing: border-box;
}
 html {
     overflow-y: scroll;
}
 body {
     background: #c1bdba;
     font-family: 'Titillium Web', sans-serif;
}
 a {
     text-decoration: none;
     color: #1ab188;
     transition: 0.5s ease;
}
 a:hover {
     color: #179b77;
}
 /* .form {
     background: rgba(19, 35, 47, .9);
     padding: 40px;
     max-width: 600px;
     margin: 40px auto;
     border-radius: 4px;
     box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
} */
 .tab-group {
     list-style: none;
     padding: 0;
     margin: 0 0 40px 0;
}
 .tab-group:after {
     content: "";
     display: table;
     clear: both;
}
 .tab-group li a {
     display: block;
     text-decoration: none;
     padding: 15px;
     background: rgba(160, 179, 176, .25);
     color: #a0b3b0;
     font-size: 20px;
     float: left;
     width: 50%;
     text-align: center;
     cursor: pointer;
     transition: 0.5s ease;
}
 .tab-group li a:hover {
     background: #179b77;
     color: #fff;
}
 .tab-group .active a {
     background: #1ab188;
     color: #fff;
}
 .tab-content > div:last-child {
     display: none;
}
 h1 {
     text-align: center;
     color: #fff;
     font-weight: 300;
     margin: 0 0 40px;
}
 label {
     /* position: absolute; */
     transform: translateY(6px);
     left: 13px;
     color: rgba(255, 255, 255, .5);
     /* transition: all 0.25s ease;
     -webkit-backface-visibility: hidden; */
     pointer-events: none;
     font-size: 22px;
}
 label .req {
     margin: 2px;
     color: #1ab188;
}
 label.active {
     transform: translateY(50px);
     left: 2px;
     font-size: 14px;
}
 label.active .req {
     opacity: 0;
}
 label.highlight {
     color: #fff;
}
 input, textarea {
     font-size: 22px;
     display: block;
     width: 100%;
     height: 100%;
     padding: 5px 10px;
     background: none;
     background-image: none;
     border: 1px solid #a0b3b0;
     color: black;
     border-radius: 0;
     transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
 input:focus, textarea:focus {
     outline: 0;
     border-color: #1ab188;
}
 textarea {
     border: 2px solid #a0b3b0;
     resize: vertical;
}
 .field-wrap {
     position: relative;
     margin-bottom: 40px;
}
 .top-row:after {
     content: "";
     display: table;
     clear: both;
}
 .top-row > div {
     float: left;
     width: 48%;
     margin-right: 4%;
}
 .top-row > div:last-child {
     margin: 0;
}
 .button {
     border: 0;
     outline: none;
     border-radius: 0;
     padding: 15px 0;
     font-size: 2rem;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     background: #1ab188;
     color: #fff;
     transition: all 0.5s ease;
     -webkit-appearance: none;
}
 .button:hover, .button:focus {
     background: #179b77;
}
 .button-block {
     display: block;
     width: 100%;
}
 .forgot {
     margin-top: -20px;
     text-align: right;
}
 
 /*form css*/
 *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  /* height: 36px; */
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
  color: #fff;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.img__text button{
    overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 30px;
}
.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.img__text.m--in {
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.m--in {
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label.mail {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
  position: relative;
}
label.mail span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}
.registerstyle{
    margin-top: 150px;
}
label.form-label{
    color: black;
    position: None;
    left: 40px;
}

/*last signup form*/

.signup {
    margin-bottom: 150px; }
  
  .signup-content {
    padding: 75px 0; 
    display: -webkit-flex;
}
  
  .signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden; }
  
  .signup-image {
    margin: 0 55px; }
  
  .form-title {
    margin-bottom: 33px;
    line-height: 1.66;
    margin: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
}
  
  .signup-image {
    margin-top: 45px; }
  
  figure {
    margin-bottom: 50px;
    text-align: center; }
  
  .form-submit {
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 4px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer; }
    .form-submit:hover {
      background: #4292dc; }

      #signin {
        margin-top: 16px; }
      
      .signup-image-link {
        font-size: 14px;
        color: #222;
        display: block;
        text-align: center; }
      
      .term-service {
        font-size: 13px;
        color: #222; }
      
      .signup-form {
        margin-left: 75px;
        margin-right: 75px;
        padding-left: 34px; }
      
      .register-form {
        width: 100%; }
      
      .form-group {
        position: relative;
        margin-bottom: 25px;
        overflow: hidden; }
        .form-group:last-child {
          margin-bottom: 0px; }
      
      input {
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 30px;
        font-family: Poppins;
        box-sizing: border-box; }
        input::-webkit-input-placeholder {
          color: #999; }
        input::-moz-placeholder {
          color: #999; }
        input:-ms-input-placeholder {
          color: #999; }
        input:-moz-placeholder {
          color: #999; }
        input:focus {
          border-bottom: 1px solid #222; }
          input:focus::-webkit-input-placeholder {
            color: #222; }
          input:focus::-moz-placeholder {
            color: #222; }
          input:focus:-ms-input-placeholder {
            color: #222; }
          input:focus:-moz-placeholder {
            color: #222; }
      
      input[type=checkbox]:not(old) {
        width: 2em;
        margin: 0;
        padding: 0;
        font-size: 1em;
        display: none; }
      
      input[type=checkbox]:not(old) + label {
        display: inline-block;
        line-height: 1.5em;
        margin-top: 6px; }
      
      input[type=checkbox]:not(old) + label > span {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 15px;
        margin-bottom: 3px;
        border: 1px solid #999;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        background: white;
        background-image: -moz-linear-gradient(white, white);
        background-image: -ms-linear-gradient(white, white);
        background-image: -o-linear-gradient(white, white);
        background-image: -webkit-linear-gradient(white, white);
        background-image: linear-gradient(white, white);
        vertical-align: bottom; }
      
      input[type=checkbox]:not(old):checked + label > span {
        background-image: -moz-linear-gradient(white, white);
        background-image: -ms-linear-gradient(white, white);
        background-image: -o-linear-gradient(white, white);
        background-image: -webkit-linear-gradient(white, white);
        background-image: linear-gradient(white, white); }
      
      input[type=checkbox]:not(old):checked + label > span:before {
        content: '\f26b';
        display: block;
        color: #222;
        font-size: 11px;
        line-height: 1.2;
        text-align: center;
        font-family: 'Material-Design-Iconic-Font';
        font-weight: bold; }
      
      .agree-term {
        display: inline-block;
        width: auto; }
      
      label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        color: #222; }
      
      .label-has-error {
        top: 22%; }
      
      label.error {
        position: relative;
        background: url("../images/unchecked.gif") no-repeat;
        background-position-y: 3px;
        padding-left: 20px;
        display: block;
        margin-top: 20px; }
      
      label.valid {
        display: block;
        position: absolute;
        right: 0;
        left: auto;
        margin-top: -6px;
        width: 20px;
        height: 20px;
        background: transparent; }
        label.valid:after {
          font-family: 'Material-Design-Iconic-Font';
          content: '\f269';
          width: 100%;
          height: 100%;
          position: absolute;
          /* right: 0; */
          font-size: 16px;
          color: green; }
      
      .label-agree-term {
        position: relative;
        top: 0%;
        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0); }
    
    #signupbox{
        background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgb(0 0 0 / 5%);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    margin-top: 150px;
    max-width: fit-content;

    }
    #payment-form{
        width: 100%;
        overflow: hidden;
    }

    /* Payment form css*/
    .wrapper{
        background-color: #fff;
        width: 500px;
        padding: 25px;
        margin: 25px auto 0;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        margin-top: 150px;
      }
      .wrapper h2{
        background-color: #fcfcfc;
        color: #7ed321;
        font-size: 24px;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        border: 1px dotted #333;
      }
      h4{
        padding-bottom: 5px;
        color: #7ed321;
      }
      .input-group2{
        margin-bottom: 8px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 5px 0;
      }
      .input-box{
        width: 100%;
        margin-right: 12px;
        position: relative;
      }
      .input-box:last-child{
        margin-right: 0;
      }
      .name{
        padding: 14px 10px 14px 50px;
        width: 100%;
        background-color: #fcfcfc;
        border: 1px solid #00000033;
        outline: none;
        letter-spacing: 1px;
        transition: 0.3s;
        border-radius: 3px;
        color: #333;
      }
      .name:focus, .dob:focus{
        -webkit-box-shadow:0 0 2px 1px #7ed32180;
        -moz-box-shadow:0 0 2px 1px #7ed32180;
        box-shadow: 0 0 2px 1px #7ed32180;
        border: 1px solid #7ed321;
      }
      .input-box .icon{
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        color: #333;
        background-color: #f1f1f1;
        border-radius: 2px 0 0 2px;
        transition: 0.3s;
        font-size: 20px;
        pointer-events: none;
        border: 1px solid #00000033;
        border-right: none;
      }
      .name:focus + .icon{
        background-color: #7ed321;
        color: #fff;
        border-right: 1px solid #7ed321;
        border: none;
        transition: 1s;
      }
      .dob{
        width: 30%;
        padding: 14px;
        text-align: center;
        background-color: #fcfcfc;
        transition: 0.3s;
        outline: none;
        border: 1px solid #c0bfbf;
        border-radius: 3px;
      }
      .radio{
        display: none;
      }
      .input-box label{
        width: 50%;
        padding: 13px;
        background-color: #fcfcfc;
        display: inline-block;
        float: left;
        text-align: center;
        border: 1px solid #c0bfbf;
      }
      .input-box label:first-of-type{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: none;
      }
      .input-box label:last-of-type{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .radio:checked + label{
        background-color: #7ed321;
        color: #fff; 
        transition: 0.5s; 
      }
      .input-box select{
        display: inline-block;
        width: 45%;
        margin-right: 8px;
        margin-left: 2px;
        padding: 12px;
        background-color: #fcfcfc;
        float: left;
        text-align: center;
        font-size: 16px;
        outline: none;
        border: 1px solid #c0bfbf;
        cursor: pointer;
        transition: all 0.2s ease;
      }
      .input-box select:focus{
        background-color: #7ed321;
        color: #fff;
        text-align: center;
      }
      button{
        width: 100%;
        background: transparent;
        border: none;
        background: #7ed321;
        color: #fff;
        padding: 15px;
        border-radius: 4px;
        font-size: 16px;
        transition: all 0.35s ease;
      }
      button:hover{
        cursor: pointer;
        background: #5eb105;
      }
      #input{
        margin-top: 0px;
      }
    .labelid{
        position: static;
        left: 0;
        top: 50%;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        color: #222;
    }